body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dbaking%2Bbackground%2Bpink&psig=AOvVaw361N2HBbILFyOjalcBxdZm&ust=1710434666950000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLC3vOvX8YQDFQAAAAAdAAAAABAD);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }